* {
    -webkit-tap-highlight-color: transparent;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
}

/*-------WATCH PAGE-------*/

#watch-bg { /* dev كامل */
    width: 360px;
    height: 360px;
    position: absolute;
    background-image: url('../image/lux_3_bg_01.png');
    overflow: hidden;
}

/*-------WATCH PAGE : DATE-------*/

#date-bg { /* خلفية تاريخ اليوم */
    width: 52px;
    height: 52px;
    position: absolute;
    top: 154px;
    right: 22px;
}

#date-text { /* تاريخ اليوم */
    width: 32px;
    height: 32px;
    position: absolute;
    top: 12px;
    right: 10px;
    text-align: center;
    font-size: 1.6em;
    color: #3c5afd;
    font-weight: bold;
}

#day-text{ /* اليوم و التقويم الهجري و التقويم الميلادي */
	position: absolute;
	text-align: center;
	bottom: 55px;
	width: 100%;
	text-align: center;
    font-size: 24px;
    color: white;
}

#digital-text{ /* الساعة الرقمية */
	position: absolute;
	text-align: center;
	top: 100px;
	width: 100%;
	text-align: center;
    font-size: 24px;
    color: white;	
}

#digital-text div{ /* الساعة الرقمية */
	font-size: 1.8em;
	font-weight: bold;	
}

#gregorianDate{ /* التقويم الميلادي */
	font-size: 0.9em;
}

#hijridate{ /* التقويم الهجري */
	
}

#dayDate{ /* اليوم */
	font-size: 1.5em;
	padding: 12px;
	font-weight: bold;
}

/*-------WATCH PAGE : HOUR-------*/
/*------- عقرب الساعة -----------*/

.hands-hr {
    width: 30px;
    height: 260px;
    position: absolute;
    top: 50px;
    left: 165px;
    background-size: 30px 260px;
}

#hands-hr-needle {
    z-index: 4;
    background-image: url('../image/lux_3_hands_hr.png');
    opacity: 0.9;
}

/*-------WATCH PAGE : MINUTE-------*/
/*------- عقرب الدقيقة ------------*/

.hands-min {
    width: 30px;
    height: 360px;
    position: absolute;
    left: 165px;
    background-size: 30px 360px;
}

#hands-min-needle {
    z-index: 2;
    background-image: url('../image/lux_3_hands_min.png');
    opacity: 0.9;
}

/*-------WATCH PAGE : SECOND-------*/
/*------- عقرب الثانية ------------*/

.hands-sec {
    width: 30px;
    height: 360px;
    position: absolute;
    left: 165px;
    background-size: 30px 360px;
}

#hands-sec-needle {
    z-index: 6;
    background-image: url('../image/lux_3_hands_sec.png');
    opacity: 0.9;
}
