<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://sy.sa/HijriWatch" version="1.1.0" viewmodes="maximized">
    <tizen:application id="ECt92aGaCu.HijriWatch" package="ECt92aGaCu" required_version="2.3.1"/>
    <author href="https://www.sy.sa/" email="xlmnxp@outlook.sa">xlmnxp</author>
    <tizen:category name="http://tizen.org/category/wearable_clock"/>
    <content src="index.html"/>
    <description>ساعة بتصميم انيق وحديث مجانية ومفتوحة المصدر 
تاتي بدعم التاريخ الهجري والتاريخ الميلادي</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <license href="https://opensource.org/licenses/MIT">MIT</license>
    <name>HijriWatch</name>
    <tizen:profile name="wearable"/>
</widget>
